asgiref==3.2.3
awsebcli==3.16.0
beautifulsoup4==4.8.1
boto3==1.10.37
botocore==1.13.37
cement==2.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.3.9
confusable-homoglyphs==3.2.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.12
django-appconf==1.0.3
django-bootstrap4==1.1.0
django-crispy-forms==1.9.0
django-filter==2.2.0
django-select2==7.1.2
django-storages==1.8
djangorestframework==3.11.0
docutils==0.15.2
future==0.16.0
gunicorn==20.0.4
idna==2.7
jmespath==0.9.4
Markdown==3.2.1
messagebird==1.5.0
pathspec==0.5.9
pypiwin32==223
python-dateutil==2.8.0
pytz==2019.3
pywin32==227
PyYAML==3.13
requests==2.20.1
s3transfer==0.2.1
semantic-version==2.5.0
six==1.11.0
soupsieve==1.9.5
sqlparse==0.3.0
termcolor==1.1.0
urllib3==1.24.3
wcwidth==0.1.7
