{% extends 'blog/layout.html' %}
{% load static %}

{% block content %}
<style type="text/javascript">
    a{
        text-decoration: none !important;
    }
</style>
<header class="masthead" style="background-image:url({% static 'images/home-bg.jpg' %});">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="site-heading">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            {% for titl in post %}
            <div class="post-preview">
                <a href="post/{{titl.id}}">
                    {{titl.title}}
                </a>
                <p class="post-meta">Posted by&nbsp;<a>Admin on {{titl.created_at}}</a></p>
            </div>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
