<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/">Blog</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About me</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/contact">Contact me</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/post/2">Blog Post</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        {% block content %}
        {% endblock %}
    </section>

    <center class="clearfix">
        <a href="/admin" class="btn btn-success float-right">Admin Login</a>
    </center>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><a
                                    href="https://twitter.com/prosperc40"><i class="fa fa-circle fa-stack-2x"></i><i
                                        class="fa fa-twitter fa-stack-1x fa-inverse"></i></a></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i
                                    class="fa fa-circle fa-stack-2x"></i><i
                                    class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><a
                                    href="https://github.com/ProsperChuks">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i></a></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;© Chuks 2020</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/clean-blog.js' %}"></script>
</body>

</html>